body {
  font-family: "Helvetica", Helvetica, Arial, serif;
}
.col-margin-bottom-1 {
  margin-bottom: 1em;
}
a {
  cursor: pointer;
}

.navbar.main {
  background: #5f6d7f;
  color: white;
}

.navbar.main .list.nav-link {
  background: #01bf86;
}

.navbar.main a {
  color: white;
}

.navbar ul {
  list-style: none;
}

.side-bar.col-sm-2 {
  margin-left: 1em;
  border-right: 1px solid #5f6d7f;
  color: #fff;
}

#product-list.row {
  margin-left: 0;
}

#product-list .row,
#product-finalize-list {
  margin-top: 2em;
}

.row h2,
.categories a,
#categories a {
  color: #5f6d7f;
}
.categories ul {
  list-style: none;
  margin-left: -40px;
}
.categories ul li {
  display: inline-block;
  margin-right: 10px;
}
#product-list a,
#product-reveal-list a,
#product-list .row > div {
  color: #01bf86;
}



.container-fluid .row {
  margin-left: 0px;
}
#product-reveal-list img,
#product-list img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.container-fluid .title {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 1em;
}

#product-list .details,
.container-fluid .title,
#product-finalize-list a {
  color: #5f6d7f;
}

.product .details {
  text-decoration: underline;
}

.time {
  font-style: italic;
}

#product-finalize-list .row > div{
  color: #e76e6e;
}

#product-details-page {
  color: #5f6d7f;
  background-color: #e9ebef;
}

#product-details-page h4 {
  margin-top: 0px;
  font-size: 20px;
}

#product-details-page h4.align {
  margin-left: 15px;
  font-style: italic;
}

#product-details-page #product-price {
  color: #01bf86;
}

#product-details-page .bid-details,
#product-details-page #product-desc {
  padding: 2em;
}

#product-details-page #product-image {
  padding: 2em 1em;
  /*border: 1px solid #b2bcc8;*/
  border-radius: 10px;
  background-color: white;
}

#product-details-page h1 {
  color: #5f6d7f;
  font-size: 1.5em;
}

#product-details-page h2.product-name {
  color: #01bf86;
  margin-top: 0;
  margin-bottom: 1em

}

#product-details-page #product-auction-end {
  color: #e76e6e;
  font-style: italic;
  font-size: 25px;
}

#product-details-page #product-reveal {
  margin-top: 3em;
}

#product-details-page button.form-submit {
  width: 100px;
  padding: 12px;
  font-size: 20px;
  margin: auto;
  text-decoration: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  border: solid 0.5px white;
  text-align: center;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color:#d35400;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  z-index: 1;
}

#product-details-page #product-desc {
  padding: 2em;
}

#add-item-to-store {
  box-shadow: 2px 2px 30px 10px #ddd;
  margin: 20px 0 50px 0;
  padding: 60px 80px;
  font-size: 16px;
}
#add-item-to-store h1 {
  margin-top: 0px;
  margin-bottom: 20px;
}
#add-item-to-store .form-control {
  border: none;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  box-shadow: none;
}
#add-item-to-store .form-control:focus {
  box-shadow: none;
}
#add-item-to-store button[type='submit'] {
  position: relative;
  background-color:#d35400;
  border: none;
  padding: 12px;
  width: 200px;
  text-align: center;
  color:#fff;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  border-radius: 4px;
  margin: 10px;
}
#add-item-to-store button[type='submit']:hover{
  background:#fff;
  box-shadow:0px 2px 10px 5px #97B1BF;
  color:#000;
}
#add-item-to-store button[type='submit']:after{
  content: "";
  background: #d35400;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}
#add-item-to-store button[type='submit']:active:after {
  content: "";
  background: #d35400;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}
#finalize-auction button[type='submit'] {
  position: relative;
  background-color:#d35400;
  border: none;
  padding: 12px;
  width: 200px;
  text-align: center;
  color:#fff;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  border-radius: 4px;
  margin-top: 40px;
  margin-bottom: -20px;
}
#finalize-auction button[type='submit']:hover {
  background:#fff;
  box-shadow:0px 2px 10px 5px #97B1BF;
  color:#000;
}
#finalize-auction button[type='submit']:after {
  content: "";
  background: #d35400;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}
#finalize-auction button[type='submit']:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
.btn-thrid-par{
  position: relative;
  background-color:#d35400;
  border: none;
  padding: 16px;
  width: 220px;
  text-align: center;
  color:#fff;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  border-radius: 4px;
  bottom: 0;
  margin-right: 120px;
}
.btn-thrid-par:hover {
  background:#fff;
  box-shadow:0px 2px 10px 5px #97B1BF;
  color:#000;
}
.btn-thrid-par:after {
  content: "";
  background: #d35400;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}
.btn-thrid-par:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
.menu {
  background-color: rgba(10, 12, 16, 1.0);
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
}
.menu h1 {
  color: #fff;
  margin-right: 20px;
  margin-top: 26px;
}
.menu .item {
  background-color: rgba(15, 19, 23, 1.0);
  height: 100px;
  padding: 20px 0;
  width: 262px;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  text-align: center;
  color: #fff;
  display: inline-block;
}
.menu .item:hover {
  opacity: .6;
}
.menu .item a {
  text-decoration: none;
  color: #fff;
}
.menu .item a:hover {
  text-decoration: none;
}
.menu .item .text {
  font-size: 30px;
  line-height: 30px;
}
#after-sale,#finalize-auction {
  margin-top: 40px;
}
